body {
      margin: 0;
      background: slateblue;
      font-family: Arial, Helvetica, sans-serif;
}
.header{
      text-align: center;
      background: slateblue;
      color: white;
      flex-grow: 100;
      margin: 0;
}
h1 {
      transition: 0.3s all;
      text-align: center;
      background-color: palevioletred;
      border: 4px solid purple;
      border-radius: 50px;
      margin-left: 35%;
      margin-right: 35%;
      font-family: 'Courier New', Courier, monospace;
      text-shadow: -2px 3px brown;
      box-shadow: -7px 5px rgb(85, 73, 165);
}
h1:hover {
      transform: scaleX(1.03);
      background-color: powderblue;
      border: 4px solid cadetblue;
}
#grade {
      padding-left: 10%;
      text-align: left;
      border-radius: 6px;
      color: whitesmoke;
      font-family: Arial, Helvetica, sans-serif;
      box-shadow: -3px 3px rgb(73, 73, 73);
      margin: -10%;
}
.flex-container {
      display: flex;
      flex-wrap: wrap;
      height: 720px;
      margin-left: 1%;
      margin-right: 1%;
}
@media screen and (max-width: 700px) {
      .nav, .article {   
          flex-direction: column;
      }
}
.nav {
      flex: 1%;
      background-color: grey;
      padding: 20px;
      box-shadow: -40px 10px rgb(73, 73, 73);
      border-radius: 14px;
}
.article {
      flex: 80%;
      background-color: whitesmoke;
      padding-left: 40px; padding-right: 40px; padding-top: 10px; padding-bottom: 50px;
      box-shadow: 35px 10px rgb(222, 222, 222);
      border-radius: 20px;
}
.flex-container > div {
      background-color: #f1f1f1;
      width: 100px;
      margin: 10px;
      text-align: center;
      line-height: 75px;
      font-size: 30px;
    }
.pick {
      transition: 0.2s all;
      background-color: grey;
      padding: 5px;
      box-shadow: -3px 2px rgb(73, 73, 73);
      border-radius: 16px;
      color: whitesmoke;
      text-shadow:-1px 1px black;
      font-size: 105%;
}
.pick:hover{
      background-color: rgb(73, 73, 73);
}
.themes {
      display: flex;
      justify-content: center;
      background-color: grey;
      border-radius: 20px;
      margin-top: 10px;
    }
.themes > div {
      transition: 0.1s all;
      background-color: #f1f1f1;
      width: 50%;
      margin: 5px;
      text-align: center;
      line-height: 150%;
      font-size: 100%;
      border-radius: 15px;
}
.themes > div:hover {
      background-color: rgb(222, 222, 222);
      box-shadow: -1px 2px rgb(73, 73, 73);
} 
.choice {
      transition: 0.2s all;
      background-color: grey;
      padding: 5px;
      box-shadow: -3px 2px rgb(73, 73, 73);
      border-radius: 20px;
      color: whitesmoke;
      text-shadow:-1px 1px black;
      margin-right: 70%;
}
.grade {    
      display: inline-block; /* Строчно-блочный элемент */
      background: #8C959D; /* Серый цвет фона */
      color: #fff; /* Белый цвет текста */
      padding: 1rem 1.5rem; /* Поля вокруг текста */
      text-decoration: none; /* Убираем подчёркивание */
      border-radius: 3px;
}